<launch>
	<!-- Parameter -->
    <rosparam file="$(find mpc_casadi)/params/constraints.yaml" command="load" />
    <arg name="map_name" default="map1" doc="[map1, map2, map3]"/>
    <arg name="target_ns" default="target"/>
    <arg name="agent_ns" default="agent"/>
    <arg name="mode" default="0"/>
    
    <node pkg="mpc_casadi" type="nmpc_node_cleancode.py" name="nmpc_node" output="screen" >
        <param name="robot" value="$(arg agent_ns)" />
        <param name="mode" value="$(arg mode)" />
    </node>
</launch>
